<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メール</th>
      <th>コメント</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.comment %></td>
        <td><%= link_to '詳細', user %></td>
        <td>
          <% if user == current_user %>
            <%= link_to '変更', edit_user_path(user) %></td>
          <% else %>
            −−
          <% end %>
        </td>
        <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
