<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メール:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @user.comment %>
</p>

<% if @user == current_user  %>
  <%= link_to '変更', edit_user_path(@user) %> |
<% end %>
<%= link_to 'トップに戻る', users_path %>
