
<%= form_with url: user_sessions_path(@form), method: :post, local: true do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>
