<!DOCTYPE html>
<html>
  <head>
    <title>SlackMailer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <% if logged_in? %>
        <%= link_to "プロフィール", edit_user_path(current_user.id) %>
        <%= link_to "ログアウト", :logout, method: :delete %>
      <% else %>
        <%= link_to "登録", new_user_path %> |
        <%= link_to "ログイン", :login %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    <%= yield %>

  </body>
</html>
